name: Android
on:
  - push
  - pull_request

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - uses: yutailang0119/action-android-lint@v3
        with:
          report-path: "**/build/reports/*.xml"
